# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/**/build/
android/local.properties
android/GeneratedPluginRegistrant.java
*.keystore
*.jks
*.jks.gpg
*.jks.asc

# iOS
ios/**/Pods/
ios/**/Frameworks/
ios/**/.last_build_id
ios/**/GeneratedPluginRegistrant.h
ios/**/GeneratedPluginRegistrant.m
ios/**/DerivedData/
*.moved-aside
*.xcworkspace
!ios/Runner/Base.lproj/LaunchScreen.storyboard
!ios/Runner/Base.lproj/Main.storyboard

# macOS
macos/**/Pods/
macos/**/Frameworks/
macos/**/GeneratedPluginRegistrant.swift
macos/**/DerivedData/

# Windows
windows/flutter/ephemeral/
windows/CMakeLists.txt.user
build/windows/

# Linux
linux/flutter/ephemeral/

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Miscellaneous
*.log
.DS_Store
node_modules/
